<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
    <% if (heroe === undefined) { %>
        <h2><%= text %></h2>
    <% } else { %>
        <h2>Hola, mi nombre es <%= heroe.nombre %> y soy <%= heroe.profesion %></h2>
    <% } %>
</body>
</html>
