<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
    <% heroes.forEach ( heroe => {%>
    <ul>
        <li>ID: <%= heroe.id %></li>
        <li>Nombre: <%= heroe.nombre %></li>
        <li>Profesion: <%= heroe.profesion %></li>
        <li>Pais: <%= heroe.pais %></li>
        <li>Reseña: <%= heroe.resenia %></li>
    </ul>
    <% }) %>
</body>
</html>
